@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.app-sidebar.bg-city-blue{
    background-color: #132139;
}

.bg-city-blue{
    background-color: #132139;
}

.text-city-blue{
    color: #132139;
}

.pointer{
    cursor: pointer !important;
}

.overflow-hidden{
    overflow: hidden !important;
}